/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.table thead th,
.pagination .page-link,
.list-group {
  cursor: pointer;
}

.table thead th {
  white-space: nowrap;
}

.favourite-icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.sort-icon {
  width: 14px;
  margin-left: 4px;
  vertical-align: middle;
  padding-bottom: 3px;
}

.plus-icon-white {
  width: 14px;
  vertical-align: middle;
  padding-bottom: 3px;
}

.spinner-wrapper {
  white-space: nowrap;
  padding-right: 10px;
}

.spinner {
  animation: 2s linear infinite spinner-animation;
  max-width: 30px;
}

@keyframes spinner-animation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.spinner circle {
  animation: 1.4s ease-in-out infinite both spinner-circle-animation;
  display: block;
  fill: transparent;
  stroke: #2f3d4c;
  stroke-linecap: round;
  stroke-dasharray: 283;
  stroke-dashoffset: 280;
  stroke-width: 10px;
  transform-origin: 50% 50%;
}

@keyframes spinner-circle-animation {
  0%,
  25% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }
  50%,
  75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }
  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}

.pagination .page-link,
.list-group {
  cursor: pointer;
}

.login-form .spinner {
  max-width: 15px;
}

.login-form .spinner circle {
  stroke: #fff;
}

.date-input label {
  display: block;
}
